GEMINI_API_KEY=ROTATE_AND_SET_IN_SECRET_MANAGER

APP_URL=https://taqbot.com

SUPER_ADMIN_EMAIL=SET_SECURE_VALUE
SUPER_ADMIN_PASSWORD=ROTATE_AND_SET_SECURE_VALUE
SUPER_ADMIN_NAME=System Administrator

TENANT_ADMIN_EMAIL=SET_SECURE_VALUE
TENANT_ADMIN_PASSWORD=ROTATE_AND_SET_SECURE_VALUE

JWT_SECRET=ROTATE_WITH_LONG_RANDOM_SECRET

TIKTOK_CLIENT_KEY=SET_FROM_TIKTOK_DEVELOPER_PORTAL
TIKTOK_CLIENT_SECRET=ROTATE_AND_SET_FROM_SECRET_MANAGER
TIKTOK_REDIRECT_URI=https://taqbot.com/api/tiktok/oauth/callback
TIKTOK_SCOPE=user.info.basic,user.info.profile,user.info.stats,video.list
TIKTOK_AUTH_URL=https://www.tiktok.com/v2/auth/authorize/

CLOUDINARY_NAME=SET_VALUE_IF_USED
CLOUDINARY_API_KEY=SET_VALUE_IF_USED
CLOUDINARY_API_SECRET=SET_VALUE_IF_USED

MONGODB_URI=ROTATE_DATABASE_CREDENTIALS_AND_SET_NEW_URI

RAZORPAY_KEY_ID=SET_KEY
RAZORPAY_KEY_SECRET=ROTATE_AND_SET_SECRET